/* General Aspects */
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* <!-- title --> */
h1 {
    font-size: 40px;
    color: rgb(226, 9, 190);
}

/* <!-- drop-down list with five options --> */



/* <!-- animal images  --> */
figure {
    outline: 1px solid red;
    width: 90%;
    margin: auto;
    
}

.animal {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 7px;
}
 
/* <!-- images filters to apply with js--> */

.original {
    filter: none;
}

.sepia {
    filter:sepia(1);
    -ms-filter: sepia(1);;
    -moz-filter: sepia(1);
    -o-filter: sepia(1);
    -webkit-filter: sepia(1);
}

.white-black {
    filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.negative-colors {
    filter: invert(.8);
    -ms-filter: invert(.8);
    -moz-filter: invert(.8);
    -o-filter: invert(.8);
    -webkit-filter: invert(.8);
}